# Режим отладки (True для разработки, False для продакшена)
DEBUG=True

# Секретный ключ Django
SECRET_KEY=секретный-ключ

# Разрешённые хосты
ALLOWED_HOSTS=127.0.0.1,localhost

# URL базы данных (для Docker)
DATABASE_URL=postgres://medical_user:medical_password123@db:5432/medical_db